/* MENU btn */
/* .menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: fit-content;
}

.menu-btn {
    background-color: #14141a;
    background-color: none;
    border: none;
    display: flex;
    cursor: pointer;
}

.btn-sircle {
    background-color: #0D0D0F;
    border: solid 1px #ffff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 5px;
}

.top-nav {
    display: none;
} */

/* PROJECTS btn */
.projects-link {
    width: fit-content;
}

.projects-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    background-image: url(/img/moon.jpg);
    background-size: cover;
    border: 1px solid #ffffff;
    box-shadow: 6px 6px 20px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    width: 10vw;
    height: 10vw;
    cursor: pointer;
}

.projects-btn-text {
    font-weight: 200;
    padding: 15px 10px;
    border-radius: 30%;
    background-image: linear-gradient(20deg, #000000ce 30%, rgba(54, 54, 54, 0.158));
    transform: rotate(0.5turn);
    -webkit-transform: translateX(-10px) translateY(15px) rotate(70deg);
}

.stars {
    height: auto;
    width: 100%;
    min-width: 20px;
}