/* GENERAL */
.bottom-content {
    background-color: rgb(20, 23, 27);
    box-shadow: 0 -20px 20px -20px rgb(63, 152, 186);
}

#bottom-header {
    margin: 0 auto;
    font-size: 2rem;
    height: 10vw;
    display: flex;
    align-items: center;
    padding: 2rem 0 1rem 1rem;
}

.bottom-content-wrap {
    margin: 0 auto;
    padding-bottom: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(260px, 1fr));
    max-width: 1300px;
}

/* CARDS */
.project {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    color: #ffff;
    background-color: #0D0D0F;
    border: 1px solid rgb(63, 152, 186);
}

.project-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.project-text-icons-wrap {
    justify-self: flex-end;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}

.project-icons {
    font-size: 2rem;
    padding-right: 10px;
}

.project-text-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.project-text-icons-wrap :is(h2) {
    font-size: 1.5rem;
}

.project-sample-img {
    margin: 10px 0;
    height: auto;
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgb(44, 44, 44);
}

.card-header:hover {
    text-decoration: underline;
}

.project-icons:hover {
    color: rgb(154, 208, 230);
}

.image-modal-container {
    display: none;
    z-index: 1;
    position: fixed;
    bottom: 0px;
}

.cansel-x {
    color: #928d8d;
    background-color: #ffff;
    border: 1px solid #928d8d;
    border-radius: 5px;
    padding: 10px;
    font-size: 2rem;
    height: fit-content;
    position: absolute;
    right: 0;
    cursor: pointer;
    z-index: 2;
}

.cansel-x:hover {
    border: 1px solid #373737;
    color: #373737;
}