/* GENERAL */
.flex-wrap {
    display: flex;
}

.top-content-wrap {
    display: flex;
    width: 100vw;
    height: 90vh;
    position: relative;
}

/* ASIDE */
aside {
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(63, 152, 186, 50%);
    border: 1px solid #3987a5;
    color: #3987a5;
    border-radius: 10%;
    margin: 1rem;
    /* border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%; */
    background-color: #0D0D0F;
    display: flex;
    align-items: flex-end;
    height: fit-content;
}

.aside-deco-container {
    flex-direction: column;
    background-image: linear-gradient(to right, #14141a 30%,black 55%, #14141a 30%);
    height: 70vh;
}

.aside-deco-bottom-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 20px;
    padding-top: 45vh;
}

.deco-sidewalk {
    border: solid #14141a 1px;
    border-radius: 10px;
    position: absolute;
    padding: 10px;
    height: 10vh;
    width: 170px;
    background-image: linear-gradient(105deg, #14141a71 10%, rgba(0, 0, 0, 0.527) 90%);
}

.aside-deco-bottom {
    align-self: flex-end;
    height: 50px;
    width: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 4px solid rgba(0, 0, 0, 0.527);
    background-image: linear-gradient(105deg, #14141a,black, #14141a, black, #14141a, black, #14141a, black, #14141a, black, #14141a,black, #14141a, black, #14141a, black, #14141a, black, #14141a, black, #14141a,black, #14141a, black);
}

.link-git-wrap {
    display: flex;
    flex-direction: column;
}

.git, .link {
    padding: 10px;
    font-size: 3rem;
}

#git-profile, #linkedin-profile {
    color: #3987a5;
}

#git-profile:hover, #linkedin-profile:hover {
    color: rgb(154, 208, 230);
}

/* PERSONALIA */
.personalia {
    color: #ffff;
    /* padding: 0 10px 0 5vh; */
    display: flex;
    flex-direction: column;
}

.personalia-text-wrapper {
    margin-top: 25vh;
    max-width: 700px;
}

/* .welcome-text {
    padding-left: 30px;
} */

/* .img-hi-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50px;
    left: -60px;
} */

/* SKILLS */
.skills-wrap {
        position: absolute;
        bottom: 0;
        right: 0;
        box-shadow: inset 6px 6px 10px rgb(63, 152, 186);
        border-radius: 30% 30% 0 30%;
        padding: 10vh 6vw;
}

.skills-c, .skills-t {
    margin: 0;
    padding: 5px;
}