/* GENERAL */
.flex-wrap {
    display: flex;
}

.top-content-wrap {
    display: flex;
    width: 100vw;
    height: 90vh;
    position: relative;
}

/* ASIDE */
aside {
    padding: 1rem;
    box-shadow: inset -6px -6px 6px rgba(63, 152, 186, 50%);
    color: white;
    background-color: #0D0D0F;
    display: flex;
    align-items: flex-end;
}

.link-git-wrap {
    display: flex;
    flex-direction: column;
}

.git, .link {
    padding: 10px;
    font-size: 3rem;
}

#git-profile, #linkedin-profile {
    color: #ffff;
}

#git-profile:hover, #linkedin-profile:hover {
    color: rgb(154, 208, 230);
}

/* PERSONALIA */
.personalia {
    color: #ffff;
    padding: 0 10px 0 5vh;
    display: flex;
    flex-direction: column;
}

.personalia-text-wrapper {
    margin-top: 25vh;
    max-width: 700px;
}

.welcome-text {
    padding-left: 30px;
}

.img-hi-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50px;
    left: -60px;
}

/* SKILLS */
.skills-wrap {
        position: absolute;
        bottom: 0;
        right: 0;
        box-shadow: inset 6px 6px 10px rgb(63, 152, 186);
        border-radius: 30% 30% 0 30%;
        padding: 10vh 6vw;
}

.skills-c, .skills-t {
    margin: 0;
    padding: 5px;
}