/* GENERAL */
.bottom-content {
    background-color: rgb(20, 23, 27);
    box-shadow: 0 -20px 20px -20px rgb(63, 152, 186);
}

.bottom-content-wrap {
    padding-top: 8vh;
    padding-bottom: 8vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(220px, 1fr));
}

/* CARDS */
.project {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    color: #ffff;
    background-color: #0D0D0F;
    border: 1px solid rgb(63, 152, 186);
}

.project-text-wrap {
    display: flex;
    flex-direction: column;
}

.project-sample-img {
    height: auto;
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgb(44, 44, 44);
}