body {
    background-color: #1B1B1D;
    margin: 0;
}

/* TOP */

.flex-wrap {
    display: flex;
}

.top-content-wrap {
    display: flex;
}

.profile-img {
    height: auto;
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    border: 2px solid #ffff;
}

.welcome-text {
    padding-left: 30px;
}

.img-hi-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50px;
    left: -60px;
}

aside {
    box-shadow: inset -6px -6px 6px rgba(63, 152, 186, 50%);
    color: white;
    background-color: #0D0D0F;
    width: fit-content;
    padding: 10px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding-top: 100%;
    
}

.git, .link {
    padding: 10px;
    font-size: 3rem;
}

.personalia {
    position: relative;
    color: #ffff;
    width: fit-content;
    padding: 5vw;
}

.personalia-text-wrapper {
    margin-top: 50%;
    max-width: 500px;
}

.skills {
    width: 30%;
    min-height: 100px;
}

.skills-creative {
        box-shadow: inset 6px 6px 10px rgb(63, 152, 186);
        border-radius: 30% 30% 0 30%;
        padding: 5vw;
        position: absolute;
        bottom: 100px;
        right: 0;
}

/* BOTTOM */
.bottom-content-wrap {
    position: relative;
    min-height: 100px;
    box-shadow: 0 -20px 20px -20px rgb(63, 152, 186);
}

@media(max-width: 700px) {

    .top-content-wrap {
        flex-direction: column;
    }
}