@import url(/css/buttons.css);
@import url(/css/layout-top.css);
@import url(/css/layout-bottom.css);
@import url(/css/media-queries.css);

html {
    scroll-behavior: smooth;
}

body {
    background-color: #14141a;
    margin: 0;
}

h1, h2, p {
    color: #ffff;
    font-family: quiche-text, sans-serif;
}

p {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: rgb(63, 152, 186);
}

.skill-icon {
    padding: 10px;
}

.profile-img {
    height: auto;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #ffff;
}

.auto-img {
    height: auto;
    width: 100%;
}