@import url(/css/buttons.css);

body {
    background-color: #1B1B1D;
    margin: 0;
}

h1, h2, p {
    color: #ffff;
    font-family: quiche-text, sans-serif;
}

p {
    font-weight: 300;
}

a {
    text-decoration: none;
}

.skill-icon {
    padding: 10px;
}

/* TOP */

.flex-wrap {
    display: flex;
}

.link-git-wrap {
    display: flex;
    flex-direction: column;
}

.top-content-wrap {
    display: flex;
    width: 100vw;
}

.profile-img {
    height: auto;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #ffff;
}

.welcome-text {
    padding-left: 30px;
}

.img-hi-wrap {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50px;
    left: -60px;
}

aside {
    box-shadow: inset -6px -6px 6px rgba(63, 152, 186, 50%);
    color: white;
    background-color: #0D0D0F;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
}

.git, .link {
    padding: 10px;
    font-size: 3rem;
}

.personalia {
    position: relative;
    color: #ffff;
    padding: 5vw;
}

.personalia-text-wrapper {
    margin-top: 50%;
    max-width: 500px;
}

.skills {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 50vh;
    width: 100%;
}

.skills-creative {
        box-shadow: inset 6px 6px 10px rgb(63, 152, 186);
        border-radius: 20% 20% 0 20%;
        padding: 10vw 5vw;
        position: absolute;
        bottom: 0;
        right: 0;
}

.figma-icon {
    padding-left: 0;
}

/* BOTTOM */
.bottom-content-wrap {
    min-height: 100px;
    box-shadow: 0 -20px 20px -20px rgb(63, 152, 186);
}

@media(max-width: 700px) {

    .top-content-wrap {
        flex-direction: column;
    }
}

@media(min-width: 1400px) {

    aside {
        padding: 2rem;
    }

    .profile-img {
        width: 150px;
    }
}